/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


body {


	background-color: white;
	background-image: url('../images/foundation/BG_40.png');
	

}



/* SPACES-----------------------------*/


.space-by-one {

	height: 8px;
}

.space-by-two {

	height: 16px;
}

.space-by-three {

	height: 24px;
}


.space-by-four {

	height: 32px;
}

.space-by-five {

	height: 40px;
}

.space-by-six {

	height: 48px;
}

.space-by-seven {

	height: 56px;
}

.space-by-eight {

	height: 64px;
}


.space-by-ten {

	height: 80px;
}


.white-space-100 {

	height: 100px;


}

.base-space {

	height: 64px;
}

.half-base-space {

	height: 32px;
}




/*---HEADER---------------------------*/






.header {

	width: 100%;
	position: fixed;
	height: 100px;
	//background-color: #ececec;
	background-color: #e6332a;
	background-image: url('../images/foundation/BG.png');
	z-index: 100;

}


.header-button {


	font-family: 'Raleway', sans-serif;
	color: @color;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	line-height: 112px;
	letter-spacing: 0.75pt;
	

}



.image-center-header-logo {

	top:16%;
	left:10%;

}


.center-icons-header {

	top:13%;
	left:-8%;


}




/*----RESPONSIVE--------------------------*/


.responsive-image {

	
	max-width: 100%;
	height: auto;
	
	

}



/*----ICON TITLE--------------------------*/


.icon-title {

	text-align: center;

}


.icon-text {



	font-family: 'Raleway', sans-serif;
	color: #e92e33;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	line-height: 30px;
	letter-spacing: 1pt;
	margin-left: 15%;
	white-space: nowrap;



}



/*----BUTTONS--------------------------*/




.big-button-text {

	font-family: 'Raleway', sans-serif;
	color: #df453d;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1pt;
	text-align: center;
	line-height: 72px;
	text-shadow: 0 -1px rgba(0,0,0,0.1);
	
}

.big-button-text:hover {

	color:#858585;
	text-shadow: 0 1px rgba(255,255,255,0.8);

}

.big-button-text:active {
	
	color:#b1b1b1;
	text-shadow: none;
}


.big-button-text.red {
	
	color: #e2e2e2;
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	
}

.big-button-text.red:hover{
	
	color: #7c1b17;
	text-shadow: 0 1px rgba(255,255,255,0.2);
	
}

.big-button-text.red:active {
	
	color: #93211b;
	text-shadow: none;
	
	
}


.big-button {

	text-align: center;
	background-image: url('../images/foundation/grey_button.png');
	background-repeat: no-repeat;
	background-position-x: 32px;
}

.big-button:hover {

	background-image: url('../images/foundation/grey_button_hover.png');

}
	

.big-button:active {

	background-image: url('../images/foundation/grey_button_press.png');
	
}


.big-button.red {
	
	background-image: url('../images/foundation/red_button.png');
	
}
.big-button.red:hover {
	
	background-image: url('../images/foundation/red_button_hover.png');
	
}

.big-button.red:active {
	
	background-image: url('../images/foundation/red_button_press.png');
	
}







.back-button {

	
	background-image: url('../images/foundation/BACK_BUTTON.png');
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 50%;
	height: 80px;
	
}


.back-button:active {

	background-image: url('../images/foundation/BACK_BUTTON_press.png');

}


.back-button-text {

	font-family: 'Raleway', sans-serif;
	color: #e2e2e2;
	font-size: 11px;
	font-weight: 700;
	line-height: 83px;
	text-shadow: 0 -1px rgba(0,0,0,0.1);
	text-align: center;

}


.back-button-text:active {
	
	color: #93211b;
	text-shadow: none;
	
	
}

.center-back-button{

	right: 10%;
	top: -17%;
}






/*----FOOTER--------------------------*/




.contact-footer {

	
	background-color: #ececec;
	background-image: url('../images/foundation/BG.png');
	

}





/*------TEXT------------------------*/


.text {

	font-family: 'Raleway', sans-serif;
	color: #e23229;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1pt;
	text-align: center;	
	text-shadow: 0 1px rgba(255,255,255,0.5);

}



.text.big {

	font-size: 32px;


}

.text.description {

	text-align: left;
}





.footer-nav {

	background-color: #353535;	
   	bottom:	0px;
   	width: 100%;
   	height: auto;

}



/*------Nav Buttons for Small Devices------------------------*/


.nav-small:hover {

	opacity: 0.7;

}

.nav-small:active {

	opacity: 0.2;

}




/*------IMAGES------------------------*/



.image-wrapper {

	//background-image: url('../images/foundation/image.jpg');
	//background-color: #2797E2;
	background-size: 100%;
	background-repeat: no-repeat;
	//border-top: 4px solid #353535;
	//border-bottom: 2px solid #353535;

	//padding-top: 0%;
	//padding-bottom: 5%;

}





/*------IMAGES------------------------*/

.link-none {

 	color:white;

 }

 .link-none:hover {

 	color:#7c1b17;

 }








.header-line {

	border-bottom: 8px solid #353535;

}

.icon-square {

	
	background-color: #353535;
	height: 25%;
	width: 100%;

}

.icon-square.small {

	height: 104px;

}

.icon-square.smallest {

	height: 30px;
	width: 100%;
	padding: 0px;

}

.separator {

	height: 1px;
	background-color: #d4d4d4;

}

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}


 .panel {

 	padding: 0px;
 	border:0px;

 }





.text-button {

	font-family: Georgia;
	text-align: center;
	font-size: 18px;
	color:white;
	font-style: italic;

	padding-top: 70%;
	padding-bottom: 5%;

}

.text-button.small {

	
	line-height: 25px;

}

.footer-text {

	font-size:14px;	
	color: white;
	line-height: 50px;
}


.footer-link {
	
	font-family: Georgia;
	font-size:16px;	
	color:#646464;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2);
	padding-top: 40px; 
}

.footer-logo {

	margin-top: 14px;

}

.text-button.smallest {

	font-size: 14px;
	line-height: 32px;
	text-indent: 0px;
	text-align: center;



}


.orbit {

	margin-bottom: 0px;
}



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */



@media only screen and (max-width: 767px) {

  /* Small Device Styles here */

			 

  			.icon-text {

  					margin-left: 0px;
  					line-height: 0px;
  					margin-top: 15px;

  			}


  			.grey-bck-small {

					background-color: #ececec;
					background-image: url('../images/foundation/BG.png');
  			}


  			.header {

					height: 60px;
					

			}






			.icon-square {

				padding: 0px;
				background-color: #353535;
				margin-bottom: 14px;
				height: 44px;

			}


			.text-button {

				font-family: Georgia;
				text-align: left;
				text-align: left;
				font-size: 18px;
				color:white;
				font-style: italic;
				text-indent: 30px;
				line-height: 50px;
			

			}

			.text {
				
				font-size: 18px;

			}

			
}
